body{
    padding: 0;
    margin: 0;
    background-image: url("../imgs/fundo-cozinha.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.conteudo{
    background-color: rgba(248,248,255,0.85);
    height: 90vh;
    padding: 0;
   
}
.botao{
    justify-content: end;
    background-color: #832C73;
    
}

.item-menu{
    text-decoration: none;
    color: white;
}

.navbar{
    background-color: transparent !important;
}

.pesquisa{
    background-color: #B585AE;
   
}

#pesquisa::-webkit-input-placeholder{
    color:#fff;
    text-transform: uppercase;
    font-style: bold;
    text-align: center;
    font-weight: bold;
}

.navbar-toggler{
background-color: #832C73;
}

.lista-acoes{
    background-color: #B585AE;
}
.acao{
text-decoration: none;
color: #fff;
font-weight: bold;
}

::marker {
    color: #832C73;
    font-size:40px;
    
}