body {
    padding: 25px;
    margin: 0;
    background-image: url("../imgs/fundo-cozinha.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);

}

.nave {
    align-items: center;
}

.banner-receitas {
    height: 80vh;
    text-align: center;
    display: flex;


}

.folha1 {
    display: flex;
    align-items: flex-end !important;
    text-align: center;
    justify-content:end;
}

.folha2 {
    display: flex;
    align-items: flex-start !important;
    justify-content:flex-start;
}

.textoReceitas {
    display: flex;
    align-items: center !important;
    flex-direction: column;
    justify-content: center;

}