body {
    overflow-x: hidden;
    padding: 5vh;
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;

}

.container-fluid {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content:space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}
.receitasDaMoog
{
    display: flex;
    justify-content:space-around;
    width: 100%;
    flex-wrap: wrap;
}
.botaoMenu{
    width: 10%;
    background-color: #852775;
}
.dropdown-menu{
    background-color: rgba(181, 133, 175, 1);
    color: white;
}
.dropdown-item{
    color: white;
    font-weight: bold;
}
.dropdown-item:hover{
    background-color:  #852775;
}