
.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 80%;

}
.textarea{
    width: 100%;
    resize: none;
}

.form_control label{
    margin-bottom:  .6em;
    font-weight: bold;
}

.form_control textarea{
    padding: .7em;
    border-radius: 0;
    border: none;
}

.form_control textarea::placeholder{
    color: #7b7b7b;
}