.form {
    width: 100%;
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    

   
}

.secao{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
 

}
.submit{
  padding-top: 8em;
}

.input{
    width: 70%;
    border-radius: 10px;
}

.form label{
    margin-bottom:  .6em;
    font-weight: bold;
}

.form input{
    padding: .7em;
    border-radius: 0;
    border: none;
    border-radius: 10px;
}

.form input::placeholder{
    color: #7b7b7b;
}


.textarea{
    width: 80%;
    resize: none;
}


.form textarea{
    padding: .7em;
    border-radius: 0;
    border: none;
    border-radius: 10px;
}

.form textarea::placeholder{
    color: #7b7b7b;
}

.form select{
    padding: .7em;
    border-radius: 10px;
    border: none;
}

.form select::placeholder{
    color: #7b7b7b;
}
