.card{
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: 30%;
    flex-direction: column;
   
   
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    

  
}

.titulo h1{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.linha{
    width: 100%;
    display: flex;
    justify-content: center;
}

.boldTitulo{
    font-weight: bold;
}