.card {
    display: flex;
    align-items: center;
    border: 2px solid rgba(133, 39, 117, 0.3);
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -8px #4F1746; 
box-shadow: 0px 0px 15px -8px #4F1746;


}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;



}

.titulo h1 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Solway', serif;

}

.linha {
    width: 100%;
    display: flex;
    justify-content: center;
}



.space {
    padding: 5px;
    width: 30%;
}

.buttonPag {
    border-radius: 25px;
    background-color: rgba(133, 39, 117, 0.6) !important;
    border: none;
    font-weight: bold;
    color: white;
}

.divPag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    padding: 5px;

}


.timer{
    font-size: 25px;
    font-weight: bold;
    
}